*:focus{
  outline: none;
}
body{
  font-family: Lato;
  background: none !important;
}
.container {
  width: 890px;
}

.tab-content {
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
}

/*TABS*/
.tabs {
  position: relative;   
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;

}
.tab:nth-child(1) { 
  margin-left: 39%;
  margin-right: 2%;

 }

.tab .top-tab {
  background: #eee; 
  padding: 20px 50px 0px 50px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
  font-size: 24px;

}
.tab [type=radio] {
  display: none;   
}



.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid #ccc; 

}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}



#graphic {
  position: absolute;
  left: 14px;
  padding-top: 60px;
}


#sections {
  position: relative;
  display: inline-block;
  width: 400px;
  top: 0px;
  z-index: 90;
  padding-bottom: 20px;
  pointer-events: auto;
}

.step {
  margin-bottom: 200px;
  font-family: "Lato";
  font-size: 16px;
  line-height: 23px;
  color: #000;
}

#sections .title {
  font-size:18px;
   margin-top:40px;
  font-weight: bold;
  margin-bottom: 10px;
}

#extra-space {
  height: 300px;
}
#visTitle{
  position: fixed;
  top: calc(50% - 300px);
  left: 497px;
  font-size: 28px
}
#sampleArrow{
  position: fixed;
  top: calc(50% - 266px);
  left: 648px;
  font-size: 28px;
  z-index: 999;
}
#sampleArrow img{
  width: 223px;
}
#visTitle span{
  color: #ca5800;
  margin-left: 10px;
}
#vis {
  float: right;
  clear: both;
  display: inline-block;
  position: relative;
  margin-top: 50px;
  /*top: calc(50% - 300px);*/
  margin-left: 0;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}

/*LINE CHART*/

.line-usa {
  fill: none;
  stroke: #fdbf11;#1696d2;
  stroke-width: 1.5;
}

.line-state {
  fill: none;
  stroke: #1696d2;
  stroke-width: 1.5;
}

#lineChart{
  display: inline-block;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  margin-left: 100px;  
  width: 300px;
  background: transparent;
  height: 340px;
  top: 320px;
  left: 0px;
}

#lineChart-details {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  margin-left: 100px;  
  width: 300px;
  background: transparent;
  height: 177px;
  top: 650px;
  left: 0px;
}

.state {
  z-index: 1;
  pointer-events: all;

}

.state-title {
  text-transform: uppercase;
  color: #1896d2;
  margin-bottom: 10px;
}

#vis .title {
  font-size:120px;
  text-anchor: middle;
}

#vis .sub-title {
  font-size:80px;
  text-anchor: middle;
}








.updateText{
  opacity: 0;
}


.positive-area {
  fill: #1696d2;
}

.state path.line { 
    stroke: #000;
    stroke-width: 2;
    fill: none;
    /*opacity: .2*/
}
.ratioOneLine{
  stroke: white;
}

/*.state .axis path {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.state .x.axis text, .state .x.axis line{
  display: none;
}

.state .y.axis text, .state .y.axis line{
  display: none;
}
.state .y.axis.AK text, .state .y.axis.AK line{
  display: block;
}*/

.axis{
  display: none;
}

.hidden {
  opacity: 0 !important;
}

text.mapLable.standard{
  font-size: 12.24px;
  fill: #fff;
  /*fill: red !important;*/
}
text.mapLable.blank{
  font-size: 12.24px;
  fill: #666666;
}

/*SWITCH BUTTONS*/

.switch-div-individual {
  float: left;
}

#switch-div {
  width: 100%;
  margin-left: 20px;
  float: left;
  margin-top: 100px;
}
.urban-switch.large {
    font-size: 13px;
    font-family: Lato, sans-serif;
    height: 26px;
    border: none;
    color: #ffffff;
    display: inline-block;
    line-height: 12px;
    text-align: left;
    border-radius: 10px;
    padding-right: 10px;
    margin-bottom: 18px;
    margin-top: 18px;
}

.switch.large.on {
    background-position: -10px 0px;
    background-color: #1696d2;
}

.switch.large.off {
    background-position: -68px 0px;
    background-color: #696969;
}

.switch.large {
    background-image: url(../img/off-on.png);
    background-color: #696969;
    background-repeat: no-repeat;
    /* width: 55px; */
    /* height: 18px; */
    /* border-radius: 10px; */
    width: 83px;
    height: 26px;
    border-radius: 20px;
    margin-left: 10px;
    display: inline-block;
    background-size: cover;
    cursor: pointer;
    margin-right: 9px;
    position: relative;
    -webkit-transition: background-position .1s ease-in;
    -moz-transition: background-position .1s ease-in;
    -o-transition: background-position .1s ease-in;
    transition: background-position .1s ease-in;
}



/*END SWITCH BUTTONS*/

form {
  margin-top: 18px;
}

#map{
  position: fixed;
  top: 20px;
  left: 200px;
  opacity: 0;
}



/** Intro area chart **/
#titleText{
  font-family: Lato;
  font-size: 72px;
  width: 100%;
  top: 40%;
  position: fixed;
  text-transform: uppercase;
  z-index: 2;
  text-align: center;
}
#backgroundBlocker{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  pointer-events: none;
  background-color: rgba(255,255,255,0)
}

@media (max-width: 1200px) {

}
@media (max-width: 1170px){
  .container{
    margin-left: auto;
    width: 100%;
  }
  #isMobile{
    display: block;
  }
  #sections{
    display: inherit;
    width: 400px;
    margin: 0 auto;
    pointer-events: none;
  }
  .step {
    margin-bottom: 1000px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(136, 136, 136) 4px 4px 16px;
    padding: 30px;
    z-index: 2;
  }
}
@media (max-width: 768px){
  .step {
    margin-bottom: 1200px;
  }
}
@media (max-width: 350px){
  #sections{
    /*width: 300px;*/
    left: -20px;
    /*pointer-events: none;*/
  }
}

@media (max-width: 500px){
  #topText{
    margin-top: -90px;
    padding: 20px;
  }
  #sections{
    width: 300px;
    /*left: -20px;*/
    pointer-events: none;
  }
}


#buttons{
  width: 100%;
  clear: both;
  padding-top: 40px;
}

.button.selected-category {
  background: #000;
  color: #fff;
}

.button{
  background: #d2d2d2;
  float: left;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  color: #333;
  border: 1px solid #333;
}
.button:hover{
  background: #333;
  color: white;
}

#instructions{
  font-style: italic;
  margin-bottom: 40px;
}
#instructions a{
  color: #1696d2;
}
.tempContainer{
  float: left;
  margin-right: 15px;
}
input{
  font-size: 16px;
}


