*:focus{
  outline: none;
}
body{
  font-family: Lato;
  background: none !important;
}

hr.title{
  width: 20%;
  border: 5px solid #1896d2;
}

hr.after-toggle{
  width: 100%;
  border: 1px solid #d2d2d2
}

ul.state-list{
  list-style-type: none;
  padding-left: 0px;
  text-align: left;

}

.help-button {
  margin-top: 9.5px;
  margin-right: 11px;
  margin-left: 3px;
  background: url(../img/help-button.png);
  width: 15px;
  height: 15px;
  top: -6.5px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  float: left;
  display: block;
}

.help-div {
  float: left;
  position: relative;
  cursor: pointer;
}

.credit-text.bottom-text {
  margin-bottom: 25px;
}

.moveBack, .moveBackStateTemp, .moveBackTemp {
  opacity: .45;
}

.moveForward {
  opacity: .75;
}

.makeTransparent {
  opacity: .5;
}


.help-button-hover {
  margin-top: 9.5px;
  margin-right: 11px;
  margin-left: 3px;
  background: url(../img/help-button_hover.png);
  width: 15px;
  height: 15px;
  top: -6.5px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  display: block;
  float: left;

}

.help-button-hover.hide, .help-button.hide {
  display: none !important;
}


/*div.tooltip {
  position: absolute;
  text-align: left;
  width: 100px;
  height: 80px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 18px;
  padding-bottom: 24px;
  font: 14px Lato;
  border: 0px;
  pointer-events: none;
  background: #333;
  color: #fff;
  font-weight: 300;
  font-style: italic;
}*/

div.tooltip {
	position: absolute;
	clear: both;
	background: #333;
	color: #fff;
	width: 100px;
  	height: 80px;
  	font: 14px Lato;
  	font-weight: 300;
  	font-style: italic;
  	padding-left: 14px;
  	padding-right: 14px;
  	padding-top: 18px;
  	padding-bottom: 24px;
}
div.tooltip:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #000;
	border-width: 10px;
	margin-left: -10px;
}


a {
  text-decoration: none;
  color: #1896d2;
}

#lineChart {
  cursor: pointer;
  pointer-events: all;
}

li.state-nonmobile {
  line-height: 36px;
  background-color: #ececec;
  border-bottom: 5px solid #fff;
  text-indent: 10px;
  cursor: pointer;
}

li.state-mobile {
  line-height: 36px;
  background-color: #ececec;
  border-bottom: 5px solid #fff;
  text-indent: 10px;
  float: left;
  display: inline;
}
#double {
  width: 100%;
}
#double li {
  width: 48.5%;
  margin-right: 1.5%;
  float:left;
}

.lineChart-div-mobile > .lineChart-details > .header-row > .state-clear {
  margin-right: 5px;
}

.lineChart-div-phone {
  display: none;
}



#revratio_ {
  cursor: pointer;
}

#revpp_{
  cursor: pointer;
}


#main-image {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.headerimage {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
    z-index: -1;
}

.wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper2 {
  margin: 0 50px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;

}


/*.nonblank-rect.selected-state {
  fill: #353535 !important;
}*/
/*.nonblank-rect.selected-state.hovered-state {
  opacity: .8
}*/
/**large line graph**/
path.domain {
  stroke: #fff;
}

.axis-label {
  font-size: 14px;
  font-style: italic;
}

.tick {
  font-size: 12px;
}
.x.graphAxis > .domain {
  stroke: #000;
}
.y.graphAxis path {
  stroke: #ffffff;
}

.y.graphAxis line {
  stroke: #dedddd;
  stroke-width: 1px;
}

.tick > line {
    stroke-width: 1;
}
.tick.minor > line {
    stroke-width: 0.5;
}


.tick.minor > text {
    opacity: 0;
}

#tooltip {
  position: absolute;
  display: none;
  background: #353535;
  color: #fff;
  width: 70px;
  height: 55px;
  z-index: 100;
  font-size: 14px;
  text-align: center;
  pointer-events: none;
}
#tooltip div{
  display: block;
  clear: both;
}
#tt-year{
  font-weight: bold;
  margin-top: 9px;
  margin-bottom: 2px;
}
#tooltip:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0;
  height: 0;
  border-top: solid 12px #353535;
  border-left: solid 12px transparent;
  border-right: solid 12px transparent;
}


/**checkbox**/
.checkbox-label{
  float: left;
  font-size: 16px;
  color: #353535;
  pointer-events: all;
}
.checkbox-custom {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.checkbox-div {
  float: left;
}
.checkbox-image {
  margin-left: 5px;
  width: 17.04px;
  height: 15.36px;
  display: none;
}

.checked {
  display: block !important;
}

.empty-checkbox-image {
  margin-left: 5px;
  width: 17.04px;
  height: 15.36px;
  display: none;
}

.checkbox-div {
  pointer-events: all;
  cursor: pointer;
  margin-top: 3px;
}




div.close-sign {
  background-image: url("../img/close-sign.png");
  background-repeat: no-repeat;
  margin-left: 90%;
  margin-top: -30px;
  height: 30px;
  width: 30px;
  pointer-events: all;
  cursor: pointer;
}



.main-content {
  width: 850px;
  margin-bottom: 90px;
  margin-top: -85px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
.main-text {
  font-size: 18px;
  line-height: 1.5;
  color: #5c595a;
  margin-left: auto;
  margin-right: auto;
}
.headline {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #000;
  text-align: center;
  padding-top: 40px;
}

.tab-content {
  margin-left: auto;
  margin-right: auto;
}


#bottom-content {
  float: left;
  width: calc(100% - 100px);
  margin-top: 100px;
  margin-bottom: 25px;
  margin-left: 50px;
}

.bottom-section {
  float: left;
  width: 50%;
}

.bottom-header {
  font-size: 34px;
  color: #231f20;
}

#about {
}

.about-text {
  font-size: 14px;
  color: #231f20;
  padding-right: 25px;
}

.bottom-header.project {
  padding-left: 25px;
}
.credit-text {
  font-size: 13px;
  font-style: italic;
  color: #808285;
  padding-left: 25px;
}

.credit-list {
  font-size: 14px;
  padding-left: 25px;
}

.credit-names {
  margin-bottom: 20px;
  margin-top: 5px;
}
.bottom-text {
  line-height: 20px;
}

/*TABS*/
.tabs {
  position: relative;   
  clear: both;
  margin: 25px 0;
  width: 100%;
}
.tab {
  float: left;

}
.tab:nth-child(1) { 
  margin-left: 33%;
  margin-right: 2%;

 }

.tab .top-tab {
  background: #eee; 
  padding: 20px 50px 19px 50px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
  font-size: 18px;
  font-weight: 700;
  color: #a7a9ac;
}
.tab [type=radio] {
  display: none;   
}

.top-tab.current {
  color:#1896d2;
}

.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding:10px;
  border-top: 1px solid #ccc; 
  margin-top: 12px;

}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}




#graphic {
  position: absolute;
  left: 14px;
  padding-top: 60px;
}


#sections {
  position: relative;
  display: inline-block;
  width: 400px;
  top: 0px;
  z-index: 90;
  padding-bottom: 20px;
  pointer-events: auto;
}

.step {
  margin-bottom: 200px;
  font-family: "Lato";
  font-size: 16px;
  line-height: 23px;
  color: #000;
}

#sections .title {
  font-size:18px;
   margin-top:40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.viz-content {
  max-width: 1300px;
  margin-top: 78px;
}
#extra-space {
  height: 300px;
}

.largeChartLabel {
  font-weight: bold;
  letter-spacing: 4px;
  fill: #9d9d9d;
  font-size: 14px;
}
.lineChart-div {
  float: left;
  position: relative;
  margin-left: 50px;
  width: calc(33% - 50px);
  display: block;
}

.lineChart-div-mobile {
  float: right;
  position: relative;
  margin-top: 146px;
 /* padding: 0 50px;*/
  display: none;
}
#visTitle{
  position: fixed;
  top: calc(50% - 300px);
  left: 497px;
  font-size: 28px
}


#visTitle span{
  color: #ca5800;
  margin-left: 10px;
}
#vis {
  float: left;
  position: relative;
  /*top: calc(50% - 300px);*/
  margin-left: 45px;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}

/*LINE CHART*/

.line-USA {
  fill: none;
  stroke: #0a4c6a;
  stroke-width: 4;
  pointer-events: all;
  cursor: pointer;
}

.usaLabel {
  font-size: 14px;
  font-weight: 700;
  fill: #11719f;
}

.stateLabel {
  font-size: 13px;
  font-weight: 700;
  fill: #11719f;
}

.usaLabel.selected, .stateLabel.selected{
  fill: #353535;
}

.threshold {
  stroke: #eb098a;
  stroke-width: 1;

}
.line-state {
  fill: none;
  stroke: #1896d2;
  stroke-width: 2;
  pointer-events: none;
  cursor: pointer;
}

#lineChart{
  position: relative;
  z-index: 1;
  background: transparent;
  left: 0px;
}

.lineChart-details {
  bottom: 20px;
  z-index: 1;
  background: transparent;
  height: 0px;
  left: 0px;
  display: none;
  margin-top: 35px;

}

.show {
  display: block !important;
}

.lineChart-notes-above {
  display: block;
  font-style: italic;
  font-size: 13px;
  display: none;
  color: #696969;

}

.lineChart-notes-under {
  display: none;
  font-style: italic;
  font-size: 13px;
  display: none;
  float: left;
  color: #696969;
  margin-top: 7px;
}

.lineChart-div-mobile > .lineChart-notes-under {
  margin-right: 15px;
}

.voronoi  {
  fill: none;
  pointer-events: all;
}

.voronoi--show path.voronoi {
  stroke: red;
  stroke-opacity: 0.2;
}
.state {
  z-index: 1;
  pointer-events: all;
  cursor: pointer;

}


.line-hover {
  stroke: #000;
}


.header-row {
  width: 100%;
}
.state-title {
  text-transform: uppercase;
  margin-bottom:15px;
  float: left;
}

.state-clear {
  float: right;
  color: #1896d2;
  cursor: pointer;
}

.state-name {
  width: 100%;
  float: left;
}

#vis .title {
  font-size:120px;
  text-anchor: middle;
}

#vis .sub-title {
  font-size:80px;
  text-anchor: middle;
}








.updateText{
  opacity: 0;
}


.positive-area {
  fill: #12719e;
}

.state path.line.progressivity{ 
    stroke: #12719e;
    stroke-width: 2;
    fill: none;
    /*opacity: .2*/
}

.state path.line {
    stroke: #1696d2;
    stroke-width: 2;
    fill: none;
}
.ratioOneLine{
  stroke: #eb098a;
  stroke-dasharray: 5;
  stroke-width: 1;
}

/*.state .axis path {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.state .x.axis text, .state .x.axis line{
  display: none;
}

.state .y.axis text, .state .y.axis line{
  display: none;
}
.state .y.axis.AK text, .state .y.axis.AK line{
  display: block;
}*/

.axis{
  display: none;
}

.hidden {
  opacity: 0 !important;
}




text.mapLabel.blank{
  font-size: 13px;
  fill: #666666;
}

#ak-disclaimer{
  position: absolute;
  top: 0px;
  left: 65px;
  font-size: 14px;  
  width: 230px;
}

#note-blank{
  font-size: 13px;  
  width: 530px;
}

text.mapLabel.standard {
  font-size: 13px;
}

/*text.mapLabel.standard.hovered-text {
  fill: #fff;
}
text.mapLabel.standard.selected-text {
  fill: #fff;
}*/


/*SWITCH BUTTONS SECTION*/

.switch-main-text {
  font-size: 16px;
  font-style: italic;
  padding-top: 10px;
  text-align: center;
  color: #696969;
  line-height: 1.5;
  width: 100%;
}
.switch-div-full {
  margin: 0 35px;

}

.switch-div-individual {
  float: left;
  margin: 45px 22px 0 0;
  display: inline-block;

}


.adjusted-div {
  float: left;
  padding: 0;
  margin-top: 48px;
  display: inline-block;

}

.switch-div-text {
  float: left;
  padding-top: 20px;
  font-size: 16px;
  color: #353535;
}

#switch-div {
  width: 667px;
  margin-left: auto;
  margin-right: auto;
  height: 210px;
}
.urban-switch.large {
    font-size: 13px;
    font-family: Lato, sans-serif;
    height: 26px;
    border: none;
    color: #ffffff;
    display: inline-block;
    line-height: 12px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 32px;
    margin-top: 18px;
}

.switch.large.on {
    background-position: -10px 0px;
    background-color: #1696d2;
}

.switch.large.off {
    background-position: -68px 0px;
    background-color: #696969;
}

.switch.large {
    background-image: url(../img/off-on.png);
    background-color: #696969;
    background-repeat: no-repeat;
    /* width: 55px; */
    /* height: 18px; */
    /* border-radius: 10px; */
    width: 83px;
    height: 26px;
    border-radius: 20px;
    margin-left: 10px;
    display: inline-block;
    background-size: cover;
    cursor: pointer;
    margin-right: 9px;
    position: relative;
    -webkit-transition: background-position .1s ease-in;
    -moz-transition: background-position .1s ease-in;
    -o-transition: background-position .1s ease-in;
    transition: background-position .1s ease-in;
}



/*END SWITCH BUTTONS*/

form {
  margin-top: 18px;
  margin-left: 10px;
}

#map{
  position: fixed;
  top: 20px;
  left: 200px;
  opacity: 0;
}




#isPhone500, #isMobile768, #isMobile900, #isPhone320, #isVerticalLayout, #is1400 {
    display: none;
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width: 1170px){
  .container{
    margin-left: auto;
    width: 100%;
  }


}

@media(min-width: 1600px) {
  .tab:nth-child(1) {
    margin-left: 38%;
  }
}

@media(min-width: 1400px) {

  .switch-row {
    margin-top: 140px;
  }
  .viz-content {
    margin-top: 10px;
  }

  text.mapLabel.standard {
    font-size: 14.25px !important;
  }

  .about-text {
    padding-right: 65px !important;
  }
  .bottom-header.project {
    padding-left: 65px !important;
  }
  .credit-text {
    padding-left: 65px !important;
  }
  .credit-list {
    padding-left: 65px !important;
  }
  .usaLabel {
    font-size: 16.63px !important;
  }
  .state-title {
    font-size: 18px !important;
  }
    #switch-div {
    height: 290px !important;
  }


}

@media(min-width: 1300px) {
    .viz-content {
    margin-left: auto;
    margin-right: auto;
  }
    #note-blank {
    margin-left: 10px;
  }
  #ak-disclaimer {
    left: 90px;
    top: 5px;
  }

    #switch-div {
    height: 280px;
  }
}

@media(max-width: 1300px) {
    #is1400 {
    display: block;
  }

  #switch-div {
    height: 220px;
  }
  #note-blank {
    margin-left: 20px;
  }    
}

@media(max-width: 1299px) {
  #ak-disclaimer {
    left: 85px;
  }
    
}
/*@media(min-width: 1201px) {

  #header-pinned .share-icons {
    float: left;
    right: inherit !important;
    position: inherit !important;
  }

  #ak-disclaimer {
    top: 0px;
    left: 90px;
  }
  #header-pinned .title {
    width: 1096px;
    margin-left: auto !important;
    margin-right: auto !important;
  }


  #header-pinned {
    margin-right:auto;
    margin-left: auto;
    position: none;
    top: 0px;
  }
}
*/

@media (max-width: 1200px) {
  #ak-disclaimer {
    left: 80px;
  }

}
@media (max-width: 1000px){

  .tab:nth-child(1) {
    margin-left: 29%;
  }
  #ak-disclaimer {
  top: -3px;
  left: 70px;
  font-size: 14px;  
  width: 180px;  
  }

  #vis {
    margin-left: 30px;
  }

}


@media (max-width: 900px) {
  #isMobile900, #isVerticalLayout {
  display: block;
  }
  .lineChart-div-phone {
    display: block;
    margin: 10px 50px;
    float: left;
  }
  .lineChart-div-mobile > .lineChart-notes-above {
    display: none !important;
  }
  .lineChart-div-mobile > .lineChart-notes-under {
    display: none !important;
  }

  #ak-disclaimer {
    top: 35px;
    left: 75px;
  }
  .lineChart-notes-under, .lineChart-notes-above {
    font-size: 12px;
  }
  #note-blank {
    font-size: 12px;
  }
  div.close-sign {
    margin-left: 82%;
  }
  .wrapper {
    width: 85.7%;
  }

  .lineChart-details {
    margin-top: 0px;
  }

  .tab:nth-child(1) {
    margin-left: 26%;
  }
  .main-content {
    width: 89%;
    margin-bottom: 160px;
  }
  #vis {
    margin: 0 50px;    
  }

  .lineChart-div {
    margin-left: 50px;
    margin-top: 45px;
    width: none;
  }

  #note-blank {
    margin-left: 0;
  }

  .lineChart-div-mobile {
    display: block;
    float: right;
    width: calc(55% - 100px);
    margin-right: 50px;
    margin-top: 45px;
  }

  .nonmobile {
    display: none !important;
  }

}

@media (max-width: 800px){
  .tab:nth-child(1) {
    margin-left: 23%;
  }
}


@media (max-width: 768px){

  #isMobile768, #isVerticalLayout {
    display: block;
  }
  .lineChart-div-mobile > .lineChart-details > .header-row > .state-clear {
    margin-right: 0px;
  }
  .about-text {
    padding-right: 0px;
  }

  #vis {
  	margin: 0 35px;
  }
	
	.lineChart-div-mobile {
  	width: calc(100% - 70px);
  	margin-top: 0px;
    margin-left: 35px;
    margin-right: 35px;
	}
  .lineChart-div-mobile > .lineChart-notes-above, .lineChart-div-mobile > .lineChart-notes-under{
  	display: none !important;
  }
  #ak-disclaimer {
    top: 55px;
    left: 60px;
  }
  #double li {
  	width: 100%;
  }
  #bottom-content {
    margin-top: 85px;
    margin-left: 0;
    width: 100%;
  }
  .lineChart-div-phone {
  	margin: 10px 35px;
  }

  .credit-text, .bottom-header.project, .credit-list {
    padding-left: 0px;
  }
  div.close-sign {
  	margin-left: calc(95%);
  }
  .about-text {
    margin-right: 0px;
  }
  text.mapLabel.blank{
    font-size: 11.4px;
  }
  text.mapLabel.standard {
    font-size: 11.4px;
  }
  /*.lineChart-div-mobile {
    display: block;
    float: right;
    margin-top: 47px;
  }*/
  .main-content {
    width: 91.15%;
    margin-bottom: 95px;
  }
  .headline {
    font-size: 26px;
    padding-top: 26px;
  }

  .main-text {
    font-size: 16px;
  }
  #switch-div {
    width: 100%;
  }

  #switch-div-mobile {
    margin: 0 11%;
  }

  .switch-div-individual {
    margin: 6% 4% 0 0;
  }
  .switch-div-individual.last-switch {
    margin-right: 0px;
  }

  .adjusted-div {
    margin-top: 0px;
    margin-bottom: 33px;
    margin-left: 32%;
    margin-right: 32%;
  }

  .adjusted-div-mobile {
    width: 100%;
    float: left;
  }

  .urban-switch.large {
    margin-bottom: 12px;
  }

  .bottom-section{
    width: 100%;
  }

  .wrapper2 {
    margin: 0 30px;
  }

  .bottom-header {
    font-size: 28px;
  }
  #credits {
    margin-top: 40px;
  }
  .viz-content {
    margin-top: 40px;
  }

  .lineChart-div {
    margin-left: 35px;
  }


}

@media (max-width: 695px) {
  #switch-div-mobile {
    margin: 0 3% 0 7%;
  }
  .tab:nth-child(1) {
    margin-left: 18%;
  }

  #switch-div {
    height: 220px;
  }

}


@media (max-width: 585px){
  .switch-div-individual {
    margin: 6% 0 0 0 ;
  }
  #switch-div {
    height: 240px;
  }
  .adjusted-div {
    margin-right: 0;
  }
  #ak-disclaimer {
    top: 50px;
    left: 50px;
    width: 160px;
  }

  #switch-div-mobile {
    margin: 0 15px;
  }
  .tab:nth-child(1) {
    margin-left: 13%;
  }

}

@media (max-width: 535px) {
  #switch-div-mobile {
    margin: 0;
  }
}
@media (max-width: 502px) {
  #switch-div-mobile {
    margin: 0 30px;
  }
  .lineChart-div-mobile {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
  .wrapper2{
  	margin: 0 20px;
  }
  div.close-sign {
    margin-left: calc(93%);
  }
  .headerimage {
    height: 180px;
    top: 20px;
  }

  .headline {
    padding: 20px;
    margin-bottom: 0;
  }

  text.mapLabel.standard {
    display: none;
  }

  text.mapLabel.standard.show {
    display: block !important;
    color: #fff;
  }

  .main-content {
    margin-top: -35px;
  }
  #switch-div {
    height: 330px;
  }
  .lineChart-div {
    margin-top: 25px;
    margin-left: 20px;
  }

  .lineChart-div-phone {
  	margin: 0px 20px;
  }
  .adjusted-div {
    margin-left: 0;
  }

  .switch-div-full {
  	margin: 0 20px;
  }
  #ak-disclaimer {
    display: none;
    font-size: 11px;
    width: 40%;
    top: 62px;
    left: 45px;
    width: 200px;
  }

  #ak-disclaimer.show {
    display: block !important;
  }
  .checkbox-image {
    margin-left: 0px;
  }
  .empty-checkbox-image {
    margin-left: 0px;
  }
  .tick.minor > line {
      opacity: 0;
  }
  #header-pinned .title {
    font-size: 13px;
  }
  #credits {
    margin-top: 70px;
  }

  #note-blank {
    font-size: 12px;
  }
  .ratioOneLine {
    stroke-dasharray: 2;
  }

  .tab:nth-child(2) {
    margin-left: 0%;
  }

  .lineChart-div-phone * {
    float: left;
  }
  .tab:nth-child(1) {
    margin-left: 20%;
  }
  .switch-div-individual.last-switch {
    margin: 0 0 5% 8%;
  }


  .adjusted-div-mobile {
    width: 160px;
    float: left;
  }
  .wrapper {
    width: 100%;
  }
/*  .headline {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }*/

  .adjust ed-div {
    margin-left: 0%;
    width: 160px;
  }
  .tab .top-tab {
    padding: 15px 14px 19px 14px;
  }

 #isPhone500, #isVerticalLayout {
    display: block;
  }
  .main-content {
    width: calc(88%);
  }

 
  .switch-div-individual {
    margin: 30px 12px 0 28px;
  }
  .switch-div-individual.last-switch {
    margin: 0 15px 0 12px;
  }


  #bottom-content {
    margin-top: 30px;
  }
  #note-blank {
    width: calc(100% - 30px);

  }
  #double li {
    width: 100%;
    margin-right: 0;
  }
  .adjusted-div-mobile {
    margin-left: 15px;
  }

  .viz-content {
    margin-top: 0;
  }

  #vis {
    margin: 0 20px;
  }
  .state-title, .state-item {
    font-size: 14px;
  }


  text.mapLabel.blank{
    font-size: 11px;
  }
  text.mapLabel.standard {
    font-size: 11px;
  }
}

@media (max-width: 457px) {
  .adjusted-div-mobile {
    margin-left: 0px;
  }
  .switch-div-individual {
    margin: 30px 5px 0 18px;
  }
  .switch-div-individual.last-switch {
    margin: 0 15px 0 0;
  }
}

@media (max-width: 430px) {
  .tab:nth-child(1) {
    margin-left: 15%;
  }
  .adjusted-div-mobile {
    margin-left: 10px;
  }
  #switch-div {
  	height: 480px;
  }
  #switch-div-mobile {
  	width: calc(100% - 200px);
    margin-left: 100px;
  }

  .switch-div-individual.first-switch {
  	margin-top: 25px;
  }
  .switch-div-individual {
    margin: 10px 5px 0 17px;
  }

  .switch-div-individual.last-switch {
    margin: 10px 5px 0 0px;
  }

  .largeChartLabel {
    font-size: 10px;
  }

  .adjusted-div-mobile {
  	width: 170px;
  }

}

@media (max-width: 400px) {


  .tab:nth-child(1) {
    margin-left: 14%;
  }
  .tab:nth-child(2) {
    margin-left: 2%;
  }
  .switch-div-individual.first-switch {
    margin-top: 30px;
  }

  .switch-div-individual.last-switch {
    margin: 0 5px 0 0px;
  }

  .switch-div-individual {
    margin-left: 30px;
  }

  .switch-div-individual {
    margin: 0 5px 0 17px;
  }
  #switch-div-mobile {
    width: calc(100% - 170px);
    margin-left: 85px;
  }
  .tab .top-tab {
    padding: 15px 10px 19px 10px;
  }
  #ak-disclaimer {
    top: 43px;
    left: 38px;
    width: 100px;
  }
}

@media (max-width: 370px){
  #switch-div-mobile {
    width: calc(100% - 140px);
    margin-left: 70px;
  }
}

@media (max-width: 340px){
  #switch-div-mobile {
    width: calc(100% - 120px);
    margin-left: 60px;
  }

  .tab:nth-child(1) {
    margin-left: 8%;
  }
}
@media (max-width: 320px){

  .switch-div-individual.last-switch {
    margin-left:-16px;
  }

  #switch-div {
  	height: 500px;
  }

  .switch-div-individual {
    margin-left: 0px;
  }

  #ak-disclaimer {
    top: 38px;
    left: 32px;
  }
  .lineChart-div-mobile {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    margin-top: 0px;
    padding: 0px;
  }
  .state-title {
    font-size: 18px;
    width: 70%;
  }
   #isPhone320, #isVerticalLayout {
    display: block;
  }
  .tab:nth-child(1) {
    margin-left: 6%;
  }
  .largeChartLabel {
    font-size: 14px;
  }
  .state-clear {
    float: right;
  }
  div.close-sign {
    margin-left: calc(100% - 30px);

  }
  .lineChart-div-mobile > .lineChart-details > .header-row > .state-clear {
    margin-right: 0;
  }
}

@media (max-width: 310px) {
    #switch-div-mobile {
    width: calc(100% - 100px);
    margin-left: 50px;
  }
}

#buttons{
  width: 100%;
  clear: both;
  padding-top: 40px;
}

.button.selected-category {
  background: #000;
  color: #fff;
}

.button{
  background: #d2d2d2;
  float: left;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  color: #333;
  border: 1px solid #333;
}
.button:hover{
  background: #333;
  color: white;
}

#instructions{
  font-style: italic;
  margin-bottom: 40px;
}
#instructions a{
  color: #1696d2;
}
.tempContainer{
  float: left;
  margin-right: 15px;
}
input{
  font-size: 16px;
}


