*:focus{
  outline: none;
}
body{
  font-family: Lato;
  background: none !important;
}

hr.title{
  width: 20%;
  border: 5px solid #1896d2;
}

hr.after-toggle{
  width: 100%;
  border: 1px solid #d2d2d2
}

ul#state-list{
  list-style-type: none;
  padding-left: 0px;

}



a {
  text-decoration: none;
  color: #1896d2;
}

#lineChart {
  cursor: pointer;
  pointer-events: all;
}

ul#state-list li {
  line-height: 36px;
  background-color: #ececec;
  border-bottom: 5px solid #fff;
  text-indent: 10px;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: 100px;
  height: 80px;
  padding: 5px;
  font: 12px sans-serif;
  border: 0px;
  pointer-events: none;
  background-color: #696969;
  color: #fff;
  font-size: 13px;
}

#revratio_ {
  cursor: pointer;
}

#revpp_{
  cursor: pointer;
}


#main-image {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.headerimage {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
    z-index: -1;
}

.wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper2 {
  margin: 0 50px;
}


/*.nonblank-rect.selected-state {
  fill: #353535 !important;
}*/
/*.nonblank-rect.selected-state.hovered-state {
  opacity: .8
}*/
/**large line graph**/
path.domain {
  stroke: #fff;
}

.y-label {
  font-size: 14px;
  font-style: italic;
}

.tick {
  font-size: 12px;
}
.x.graphAxis > .domain {
  stroke: #000;
}
.y.graphAxis path {
  stroke: #ffffff;
}

.y.graphAxis line {
  stroke: #dedddd;
  stroke-width: 1px;
}

.tick > line {
    stroke-width: 1;
}
.tick.minor > line {
    stroke-width: 0.5;
}


.tick.minor > text {
    opacity: 0;
}

#tooltip {
  position: absolute;
  display: none;
  background: #353535;
  color: #fff;
  width: 70px;
  height: 55px;
  z-index: 100;
  font-size: 14px;
  text-align: center;
  pointer-events: none;
}
#tooltip div{
  display: block;
  clear: both;
}
#tt-year{
  font-weight: bold;
  margin-top: 9px;
  margin-bottom: 2px;
}
#tooltip:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0;
  height: 0;
  border-top: solid 12px #353535;
  border-left: solid 12px transparent;
  border-right: solid 12px transparent;
}


/**checkbox**/
.checkbox-label{
  float: left;
  font-size: 16px;
  color: #353535;
  pointer-events: all;
  cursor: pointer;
}
.checkbox-custom {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.checkbox-div {
  float: left;
}
.checkbox-image {
  margin-left: 15px;
  width: 17.04px;
  height: 15.36px;
  display: none;
}

.checked {
  display: block !important;
}

.empty-checkbox-image {
  margin-left: 15px;
  width: 17.04px;
  height: 15.36px;
  display: none;
}

.checkbox-div {
  pointer-events: all;
  cursor: pointer;
  margin-top: 3px;
}




div.close-sign {
  background-image: url("../img/close-sign.png");
  background-repeat: no-repeat;
  margin-left: 365px;
  margin-top: -30px;
  height: 30px;
  pointer-events: all;
  cursor: pointer;
}



.main-content {
  width: 850px;
  margin-bottom: 90px;
  margin-top: -85px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
.main-text {
  font-size: 18px;
  line-height: 1.5;
  color: #5c595a;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.headline {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #000;
  text-align: center;
  padding-top: 40px;
}

.tab-content {
  margin-left: auto;
  margin-right: auto;
}

#bottom-content {
  float: left;
  width: 100%;
  margin-top: 88px;
  margin-bottom: 25px;
}

.bottom-section {
  float: left;
  width: 50%;
}

.bottom-header {
  font-size: 34px;
  color: #231f20;
}

#about {
}

.bottom-text p {
  margin-bottom: 30px;
}
.about-text {
  font-size: 14px;
  color: #231f20;
  margin-right: 50px;
}

.credit-text {
  font-size: 13px;
  font-style: italic;
  color: #808285;
}

.credit-list {
  font-size: 14px;
}

.credit-names {
  margin-bottom: 20px;
  margin-top: 5px;
}
.bottom-text {
  line-height: 20px;
}

/*TABS*/
.tabs {
  position: relative;   
  clear: both;
  margin: 25px 0;
  width: 100%;
}
.tab {
  float: left;

}
.tab:nth-child(1) { 
  margin-left: 33%;
  margin-right: 2%;

 }

.tab .top-tab {
  background: #eee; 
  padding: 20px 50px 20px 50px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
  font-size: 18px;
  font-weight: 700;
  color: #a7a9ac;
}
.tab [type=radio] {
  display: none;   
}

.top-tab.current {
  color:#1896d2;
}

.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding:10px;
  border-top: 1px solid #ccc; 
  margin-top: 12px;

}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}




#graphic {
  position: absolute;
  left: 14px;
  padding-top: 60px;
}


#sections {
  position: relative;
  display: inline-block;
  width: 400px;
  top: 0px;
  z-index: 90;
  padding-bottom: 20px;
  pointer-events: auto;
}

.step {
  margin-bottom: 200px;
  font-family: "Lato";
  font-size: 16px;
  line-height: 23px;
  color: #000;
}

#sections .title {
  font-size:18px;
   margin-top:40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.viz-content {
  width: 100%;
  margin-top: 78px;
}
#extra-space {
  height: 300px;
}

.largeChartLabel {
  font-weight: bold;
  letter-spacing: 4px;
  fill: #9d9d9d;
  font-size: 14px;
}
.lineChart-div {
  float: left;
  margin-left: calc(50% - 569px);
  width: 435px;
}
#visTitle{
  position: fixed;
  top: calc(50% - 300px);
  left: 497px;
  font-size: 28px
}
#sampleArrow{
  position: fixed;
  top: calc(50% - 266px);
  left: 648px;
  font-size: 28px;
  z-index: 999;
}
#sampleArrow img{
  width: 223px;
}
#visTitle span{
  color: #ca5800;
  margin-left: 10px;
}
#vis {
  float: left;
  position: relative;
  margin-top: -50px;
  /*top: calc(50% - 300px);*/
  margin-left: 0;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}

/*LINE CHART*/

.line-USA {
  fill: none;
  stroke: #11719f;
  stroke-width: 4;
  pointer-events: all;
  cursor: pointer;
}

.usaLabel {
  font-size: 14px;
  font-weight: 700;
  fill: #11719f;
}
.usaLabel.selected{
  fill: #353535;
}
.threshold {
  stroke: #eb098a;
  stroke-width: 1;

}
.line-state {
  fill: none;
  stroke: #1896d2;
  stroke-width: 2;
  pointer-events: none;
  cursor: pointer;
}

#lineChart{
  position: relative;
  z-index: 1;
  background: transparent;
  left: 0px;
}

.lineChart-details {
  bottom: 20px;
  z-index: 1;
  width: 400px;
  background: transparent;
  height: 0px;
  left: 0px;
  display: none;
  margin-top: 35px;

}

.show {
  display: block !important;
}

.lineChart-notes-above {
  display: block;
  font-style: italic;
  font-size: 13px;
  display: none;
  color: #696969;

}

.lineChart-notes-under {
  display: none;
  font-style: italic;
  font-size: 13px;
  display: none;
  width: 100%;
  float: left;
  color: #696969;
  margin-top: 7px;
}

.voronoi  {
  fill: none;
  pointer-events: all;
}

.voronoi--show path.voronoi {
  stroke: red;
  stroke-opacity: 0.2;
}
.state {
  z-index: 1;
  pointer-events: all;
  cursor: pointer;

}


.line-hover {
  stroke: #000;
}


.header-row {
  width: 100%;
}
.state-title {
  text-transform: uppercase;
  margin-bottom:15px;
  float: left;
}

.state-clear {
  float: right;
  color: #1896d2;
  cursor: pointer;
}

.state-name {
  width: 100%;
  float: left;
}

#vis .title {
  font-size:120px;
  text-anchor: middle;
}

#vis .sub-title {
  font-size:80px;
  text-anchor: middle;
}








.updateText{
  opacity: 0;
}


.positive-area {
  fill: #1696d2;
}

.state path.line { 
    stroke: #1896d2;
    stroke-width: 2;
    fill: none;
    /*opacity: .2*/
}
.ratioOneLine{
  stroke: #eb098a;
  stroke-dasharray: 5;
  stroke-width: 1;
}

/*.state .axis path {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.state .x.axis text, .state .x.axis line{
  display: none;
}

.state .y.axis text, .state .y.axis line{
  display: none;
}
.state .y.axis.AK text, .state .y.axis.AK line{
  display: block;
}*/

.axis{
  display: none;
}

.hidden {
  opacity: 0 !important;
}




text.mapLabel.blank{
  font-size: 12.24px;
  fill: #666666;
}

#ak-disclaimer{
  position: absolute;
  top: 50px;
  left: 160px;
  font-size: 14px;  
  width: 240px;
}

#note-blank{
  position: absolute;
  top: 575px;
  left: 73px;
  font-size: 14px;  
  width: 500px;
}

text.mapLabel.standard {
  font-size: 12px;
}

/*text.mapLabel.standard.hovered-text {
  fill: #fff;
}
text.mapLabel.standard.selected-text {
  fill: #fff;
}*/


/*SWITCH BUTTONS SECTION*/

.switch-main-text {
  font-size: 16px;
  font-style: italic;
  padding-top: 10px;
  text-align: center;
  color: #696969;
  line-height: 1.5;
  width: 667px;
  height: 50px;
}
.switch-div-full {
  width: 100%;

}

.switch-div-individual {
  float: left;
  margin: 0px 30px 0 0;
  margin-top: 45px;
  display: inline-block;

}


.adjusted-div {
  margin-left: 6px;
  float: left;
  padding: 0;
  margin-top: 48px;
  display: inline-block;

}

.switch-div-text {
  float: left;
  padding-top: 20px;
  font-size: 16px;
  color: #353535;
}

#switch-div {
  width: 667px;
  margin-left: auto;
  margin-right: auto;
}
.urban-switch.large {
    font-size: 13px;
    font-family: Lato, sans-serif;
    height: 26px;
    border: none;
    color: #ffffff;
    display: inline-block;
    line-height: 12px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 32px;
    margin-top: 18px;
}

.switch.large.on {
    background-position: -10px 0px;
    background-color: #1696d2;
}

.switch.large.off {
    background-position: -68px 0px;
    background-color: #696969;
}

.switch.large {
    background-image: url(../img/off-on.png);
    background-color: #696969;
    background-repeat: no-repeat;
    /* width: 55px; */
    /* height: 18px; */
    /* border-radius: 10px; */
    width: 83px;
    height: 26px;
    border-radius: 20px;
    margin-left: 10px;
    display: inline-block;
    background-size: cover;
    cursor: pointer;
    margin-right: 9px;
    position: relative;
    -webkit-transition: background-position .1s ease-in;
    -moz-transition: background-position .1s ease-in;
    -o-transition: background-position .1s ease-in;
    transition: background-position .1s ease-in;
}



/*END SWITCH BUTTONS*/

form {
  margin-top: 18px;
  margin-left: 10px;
}

#map{
  position: fixed;
  top: 20px;
  left: 200px;
  opacity: 0;
}



/** Intro area chart **/
#titleText{
  font-family: Lato;
  font-size: 72px;
  width: 100%;
  top: 40%;
  position: fixed;
  text-transform: uppercase;
  z-index: 2;
  text-align: center;
}
#backgroundBlocker{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  pointer-events: none;
  background-color: rgba(255,255,255,0)
}

@media (max-width: 1200px) {

}
@media (max-width: 1170px){
  .container{
    margin-left: auto;
    width: 100%;
  }
  #isMobile{
    display: block;
  }
  #sections{
    display: inherit;
    width: 400px;
    margin: 0 auto;
    pointer-events: none;
  }
  .step {
    margin-bottom: 1000px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(136, 136, 136) 4px 4px 16px;
    padding: 30px;
    z-index: 2;
  }
}
@media (max-width: 768px){
  .step {
    margin-bottom: 1200px;
  }
}
@media (max-width: 350px){
  #sections{
    /*width: 300px;*/
    left: -20px;
    /*pointer-events: none;*/
  }
}

@media (max-width: 500px){
  #topText{
    margin-top: -90px;
    padding: 20px;
  }
  #sections{
    width: 300px;
    /*left: -20px;*/
    pointer-events: none;
  }
}


#buttons{
  width: 100%;
  clear: both;
  padding-top: 40px;
}

.button.selected-category {
  background: #000;
  color: #fff;
}

.button{
  background: #d2d2d2;
  float: left;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  color: #333;
  border: 1px solid #333;
}
.button:hover{
  background: #333;
  color: white;
}

#instructions{
  font-style: italic;
  margin-bottom: 40px;
}
#instructions a{
  color: #1696d2;
}
.tempContainer{
  float: left;
  margin-right: 15px;
}
input{
  font-size: 16px;
}


